// import angular-material
@import "~angular-material/angular-material.min.css";

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #212121;
  height: 100%;
  margin: 0;
  padding: 0;
}